test/megahitCoassembly_SAMEA4817893.fasta
test/megahitCoassembly_SAMEA4817925.fasta
test/megahitCoassembly_SAMEA4817951.fasta
test/megahitCoassembly_SAMEA4817893_renamed.fasta
test/megahitCoassembly_SAMEA4817925_renamed.fasta
test/megahitCoassembly_SAMEA4817951_renamed.fasta
